@{
    Layout = "~/Views/_TelephoneLayoutPage.cshtml";
    ViewBag.Title = "Tree";
}
<div id="slides">
    <div class="slides-container">
        @foreach(var group in ViewBag.Groups)
        { 
        <div class="module">
            <header>
                <h1>@group.name</h1>
                <p></p>
            </header>
            <img src='@Url.Content(group.Photo)'>
            <input id="hidden_pk" value=@group.GroupPK style="display:none"/>
        </div>
        }
     </div>
</div>

<script src="~/Scripts/jquery.animate-enhanced.min.js"></script>
<script src="~/Scripts/jquery.easing.1.3.js"></script>
<script src="~/Scripts/jquery.superslides.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $('#slides')
        .superslides({
        animation: 'fade'
        })
    $('body').keypress(function (e)
        {
            if (e.which == 13) {
                var groupPK = $('#hidden_pk').val();
                window.location.href = '/Record/RecordList/?groupPK=' + groupPK;
            }
        });
</script>